version: "3.1"
services:
    app:
        build:
            context: ..
            dockerfile: Dockerfile
        ports:
            - "8081:8081"
        environment:
            - KTOR_ENV=dev
        depends_on:
            - db
        networks:
            - default

    db:
        image: mariadb:latest
        ports:
            - "3307:3306"
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_DATABASE: dbVehicle
            MYSQL_USER: usuario
            MYSQL_PASSWORD: usuario
            MYSQL_ROOT_PASSWORD: usuario
        volumes:
            - ./dump:/docker-entrypoint-initdb.d
            - ./conf:/etc/mysql/conf.d
            - mariadb_data:/var/lib/mysql
        networks:
            - default

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        depends_on:
            - db
        ports:
            - 8000:80
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: usuario
        networks:
            - default

volumes:
    mariadb_data:
